<a href="https://colab.research.google.com/github/fantasybarry/MSFT-Prediction/blob/main/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
!pip install yfinance # uncomment these to install missing packages if they are not already installed
!pip install pandas

Requirement already satisfied: yfinance in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (0.2.54)
Requirement already satisfied: pandas>=1.3.0 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: requests>=2.31 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (2025.1)
Requirement already satisfied: frozendict>=2.3.4 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from yfinance) (4.13.3)
Requirement already satisfied: soupsieve>1.2 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.12.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from requests>=2.31->yfinance) (2025.1.31)
Requirement already satisfied: six>=1.5 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: pandas in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/lintanbarry/miniconda3/envs/ANN/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [45]:
import yfinance as yf
import pandas as pd

def get_price(tick,start='2022-10-01',end=None):
    return yf.Ticker(tick).history(start=start,end=end)['Close']

def get_prices(tickers,start='2022-10-01',end=None):
    df=pd.DataFrame()
    for s in tickers:
        df[s]=get_price(s,start,end)
    return df

# Prepare training and testing data sets

In [46]:
feature_stocks=['tsla','meta','goog','amzn','nflx','gbtc','gdx','intc','dal','c']
predict_stock='msft'

# training set
start_date_train='2023-1-01'
end_date_train='2024-6-30'

X_train=get_prices(feature_stocks,start=start_date_train,end=end_date_train)
y_train=get_prices([predict_stock],start=start_date_train,end=end_date_train)

# validation set
start_date_validate = '2024-7-01'
end_date_validate = '2024-11-01'

X_validate = get_prices(feature_stocks, start = start_date_validate, end = end_date_validate)
y_validate = get_prices([predict_stock], start = start_date_validate, end = end_date_validate)

# testing set
start_date_test='2024-11-01'
end_date_test='2024-12-31'
X_test=get_prices(feature_stocks,start=start_date_test,end=end_date_test)
y_test=get_prices([predict_stock],start=start_date_test,end=end_date_test)

In [47]:
#X_train
#X_test
X_validate

,tsla,meta,goog,amzn,nflx,gbtc,gdx,intc,dal,c
Date,,,,,,,,,,
2024-07-01 00:00:00-04:00,209.860001,503.792633,184.038681,197.199997,673.609985,56.090000,33.496746,30.645597,46.619431,61.845009
2024-07-02 00:00:00-04:00,231.259995,508.604156,186.153488,200.000000,679.580017,54.889999,33.625240,30.874147,46.410778,63.063774
2024-07-03 00:00:00-04:00,246.389999,509.063354,186.931580,197.589996,682.510010,53.660000,34.870617,31.033138,47.086426,62.849270
2024-07-05 00:00:00-04:00,251.520004,538.960632,191.490402,200.000000,690.650024,50.150002,35.849133,31.818159,45.725201,62.430019
2024-07-08 00:00:00-04:00,252.940002,528.389343,190.014008,199.289993,685.739990,50.090000,35.681103,33.775742,46.053085,63.122272
...,...,...,...,...,...,...,...,...,...,...
2024-10-25 00:00:00-04:00,269.190002,572.787964,166.800766,187.830002,754.679993,53.090000,41.077747,22.680000,54.119999,60.796143
2024-10-28 00:00:00-04:00,262.510010,577.693970,168.149231,188.389999,749.119995,55.380001,40.880070,22.920000,55.380001,63.158691
2024-10-29 00:00:00-04:00,259.519989,592.801880,170.946060,190.830002,759.440002,57.669998,41.532410,22.900000,57.340000,63.680424
2024-10-30 00:00:00-04:00,257.549988,591.322998,175.940399,192.729996,753.739990,57.080002,41.028324,22.299999,58.459999,63.493385
2024-10-31 00:00:00-04:00,249.850006,567.122559,172.494308,186.399994,756.030029,55.610001,39.871902,21.520000,57.220001,63.168530

In [48]:
#y_train
#y_test
y_validate

                                 msft
Date
2024-07-01 00:00:00-04:00  454.997528
2024-07-02 00:00:00-04:00  457.537842
2024-07-03 00:00:00-04:00  459.022186
2024-07-05 00:00:00-04:00  465.786438
2024-07-08 00:00:00-04:00  464.471436
...                               ...
2024-10-25 00:00:00-04:00  427.294708
2024-10-28 00:00:00-04:00  425.737823
2024-10-29 00:00:00-04:00  431.087128
2024-10-30 00:00:00-04:00  431.665955
2024-10-31 00:00:00-04:00  405.538269

[87 rows x 1 columns]

# Convert training and testing data into numpy array

In [49]:
import numpy as np

X_train=np.array(X_train)
y_train=np.array(y_train)
X_test=np.array(X_test)
y_test=np.array(y_test)

# Use linear regression to predict msft stock price from the other stocks' prices

## 1. Append a dummy feature to both X_train and X_test

In [50]:
# Your solution here

## 2. Find the best linear regression model based on your training data ($w=(X X')^{-1} X y$)
### Note that you may need to transpose the matrices to make things work

In [51]:
# Your solution here

## 3. Report your training and testing error
### How far your prediction from the actual price. Compute the mean square error for both training and testing

In [52]:
# Your solution here